* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(15, 19, 39);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/back_ground.jpg");
}

html {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
}

header {
  height: 120px;
  width: 1024px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.336);
  width: 1024px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

nav a:hover {
  color: orange;
}

main {
  height: 400px;
  text-align: center;
  margin-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

h1 {
  font-size: 65px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

a {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.about {
  padding-top: 250px;
  margin: auto;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 28%;
}

.titleText {
  color: orange;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  /*min-height: 300px;*/
  height: 100%;
}

.menu {
  padding-bottom: 50px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40x;
}

.menu .content .box {
  width: 300px;
  margin: 20px;
  border: 15px solid #555;
  box-shadow: 0 5x 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: orange;
}

.lex {
  width: 100%;
  justify-content: space-between;
}

.lex .titleText {
  text-align: center;
}

.contact {
  padding: 2rem;
  margin-left: 10%;
  min-height: 100vh;
  width: 100vw;
}

.ig {
  padding-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  min-height: 110vh;
  width: 100vw;

}
form{
 
  padding-top: 2rem;
  margin: 1rem 50rem;
  border-radius: 1rem;
 
}

form .nam {
  color: orange;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: center;
  
}

form .em {
  color: orange;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: center;
}

form .ad {
  color: orange;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: center;
}

form .mes {
  color: orange;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: center;
}
.mes, textarea{
  outline: none;
  border: .2rem solid #333;
  border-radius: .2rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  width: 200%;
  
}
textarea{
  padding: 1rem;
  resize: horizontal;
  height: 6rem;
}

form [type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  
  
}

[type="submit"]:hover {
  letter-spacing: 6px;
}


footer {
  background-color: rgba(0, 0, 0, 0.342);
  margin-top: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer p {
  font-size: 10px;
  text-align: center;
}
